<ul role="list"  class="erb-tabs list-horizontal mb-15">
  <li>
    <a
      class="mat-primary"
      [routerLink]="'/user/profile/' + profileId"
      [ngClass]="{'active-tab': selectedItem == 'profile'}"
      (click)="onSetActiveClass('profile')">Profile </a>
  </li>
  <li>
    <a
      class="mat-primary"
      [routerLink]="'/user/posts/' + profileId"
      [ngClass]="{'active-tab': selectedItem == 'posts'}"
      (click)="onSetActiveClass('posts')">Posts</a>
  </li>
  <li *ngIf="userIntegrity.userId === profile?._id">
    <a
      class="mat-primary"
      [routerLink]="'/user/favourites/' + profile?._id"
      [ngClass]="{'active-tab': selectedItem == 'favourites'}"
      (click)="onSetActiveClass('favourites')">Favourites</a>
  </li>
  <li *ngIf="userIntegrity.userId === profile?._id">
    <a
      class="mat-primary"
      [routerLink]="'/user/notifications/' + profile?._id"
      [ngClass]="{'active-tab': selectedItem == 'notifications'}"
      (click)="onSetActiveClass('notifications')">Notifications</a>
  </li>
</ul>

<router-outlet></router-outlet>

