.is-active {
  color: red !important;
  font-weight: bold !important;
}
.active-list-item {
  border: 1px solid #c62828;
}
.user-post-stats-title {
  text-transform: lowercase;
  font-size: 10px;
  text-align: center;
  padding: 0px 3px 2px 3px;
}
.user-post-stats{
  display: flex;
  font-size: 24px;
  justify-content: center;
  align-items: flex-end;
  height: 30px;
}
.user-post {
  width: calc(100% - 222px);
}
.user-post-info {
  margin-top: -9px;
  margin-bottom: -4px;
  padding-top: 7px;
  border-left: 1px solid #f7f4f4;
}
.user-post-info-list {
  display: flex;
}
.user-post-info-list li{
  width: 70px;
}

