<ul role="list"  class="erb-tabs list-horizontal mb-15">
  <li>
    <a
      class="mat-primary"
      [routerLink]="'/user/profile/' + userIdentity"
      [ngClass]="{'active-tab': selectedItem == 'profile'}"
      (click)="onSetActiveClass('profile')">Profile </a>
  </li>
  <li>
    <a
      class="mat-primary"
      [routerLink]="'/user/posts/' + userIdentity"
      [ngClass]="{'active-tab': selectedItem == 'posts'}"
      (click)="onSetActiveClass('posts')">Posts</a>
  </li>
  <li>
    <a
      class="mat-primary"
      [routerLink]="'/user/favourites/' + profile?._id"
      [ngClass]="{'active-tab': selectedItem == 'favorite-posts'}"
      (click)="onSetActiveClass('favorite-posts')">Favourites</a>
  </li>
</ul>

<router-outlet></router-outlet>

