<ul role="list"  class="erb-tabs list-horizontal mb-15">
  <li>
    <a
      class="mat-primary"
      [routerLink]="'/user/profile/' + profile?._id"
      [ngClass]="{'active-tab': selectedItem == 'profile'}"
      (click)="onSetActiveClass($event, 'profile')">Profile </a>
  </li>
  <li>
    <a
      class="mat-primary"
      [routerLink]="'/user/posts/' + profile?._id"
      [ngClass]="{'active-tab': selectedItem == 'posts'}"
      (click)="onSetActiveClass($event, 'posts')">Posts</a>
  </li>
  <li>
    <a
      class="mat-primary"
      [routerLink]="'/user/favourites/' + profile?._id"
      [ngClass]="{'active-tab': selectedItem == 'favorite-posts'}"
      (click)="onSetActiveClass($event, 'favorite-posts')">Favourites</a>
  </li>
</ul>

<router-outlet></router-outlet>

