.sidebar{
  border: 1px solid #000000;
}
.sidebar-items li{
  margin-bottom: 3px;
}
.sidebar-items li a {
  font-size: 14px;
  line-height: 15px;
  text-decoration: none;
}
.sidebar-items li a:hover {
  text-decoration: underline;
}
