.sidebar {
}
.sidebar-items li {
  margin-bottom: 3px;
}
.sidebar-items li a {
  display: block;
  width: 100%;
  /*font-size: 14px;*/
  /*line-height: 15px;*/
  /*text-decoration: none;*/
}
.sidebar-items li a:hover {
  /*text-decoration: underline;*/
}
