<br>
<section class="tag-list" *ngIf="filterByTagsArray?.length > 0">
  <app-tag
    [tagsArray]="filterByTagsArray"
    [removable]="true"></app-tag>
</section>

<a mat-raised-button
   *ngIf="userIsAuthenticated"
   [routerLink]="'/create'"
   color="accent">Create post </a>

<br><br>


<ng-container *ngIf="posts?.length > 0">

  <section class="post-box-wrapper">
    <ng-container *ngFor="let post of posts">

      <app-post
        [singlePost]="post"
        [userIsAuthenticated]="userIsAuthenticated"
        [userIntegrity]="userIntegrity"
        (deletePostById)="onDeletePost($event)"
      ></app-post>

    </ng-container>
  </section>

  <mat-paginator
    [length]="totalPosts"
    [pageSize]="postsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onChangedPage($event)"
    *ngIf="posts.length > 0"
  ></mat-paginator>

</ng-container>
<ng-container *ngIf="posts?.length === 0">
  <h1 class="mat-subheading-1 accent-color">No results!</h1>
</ng-container>
