

<ul role="list"  class="erb-tabs list-horizontal mb-15">
  <li>
    <a
      class="mat-primary"
      [routerLink]="'/posts'"
      [routerLinkActive]="['active-tab']">Posts </a>
  </li>
  <li>
    <a
      class="mat-primary"
      [routerLink]="'/users/list'"
      [routerLinkActive]="['active-tab']">Users</a>
  </li>
</ul>

<section class="tag-list">
  <span class="filter-tag" *ngFor="let filter of filterByTagsArray">
    <span class="filter-text">{{filter.label}}</span>
    <span class="remove-filter-tag" (click)="removeTagFromList(filter)">x</span>
  </span>
</section>

<div class="position-buttons mb-15">

  <div class="search-result" *ngIf="searchPhrase !== ''">
    Results for "{{ searchPhrase }}"
  </div>

  <a mat-raised-button
     class="erb-button-right"
     *ngIf="userIsAuthenticated"
     [routerLink]="'/create'"
     color="accent">Create post </a>

</div>

<ng-container *ngIf="posts?.length > 0">

  <section class="post-box-wrapper">
    <ng-container *ngFor="let post of posts">

      <app-post
        [singlePost]="post"
        (deletePostById)="onDeletePost($event)"
      ></app-post>

    </ng-container>
  </section>

    <mat-paginator class="pagination"
                   [length]="totalPosts"
                   [pageSize]="postsPerPage"
                   [pageSizeOptions]="pageSizeOptions"
                   [pageIndex]="pageIndex"
                   [showFirstLastButtons]="true"
                   (page)="onChangedPage($event)"
                   *ngIf="posts.length > 0"
    ></mat-paginator>


</ng-container>

<ng-container *ngIf="posts?.length === 0">
  <div class="no-result">
    <h2>No results!</h2>
  </div>
</ng-container>
