
footer {
  height: 50px;
  background-color: #ddd;
  border-top: 1px solid #bbb;
  text-align: center;
}

.footer-nav {
  display: flex;
  padding: 15px;
  justify-content: center;
}
.footer-nav li a {
  padding: 7px 15px;
  color: #212121;
  text-decoration: none;
  font-size: 13px;
  text-align: center;
}
.footer-nav li a:hover {
  color: #c62828;
}

@media screen and (max-width: 768px) {

  footer{
    height: auto;
  }
  .footer-nav {
    display: block;
  }
  .footer-nav li {
    display: block;
    margin-bottom: 7px;
  }
}
