.comment-box {
  padding: 10px 10px 5px 10px;
  font-size: 12px;
  border: 1px solid #bbbbbb;
  background-color: #dddddd;
}
.comment-box-author {
  font-weight: bold;
  font-style: italic;
}
.comment-vote-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 70px;
  height: 20px;
}
.comment-text-box {
  position: relative;
  font-size: 12px;
  line-height: 13px;
  margin-bottom: 7px;
}
.comment-vote {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.comment-vote:hover {
  background-color: #bbbbbb;
}
.vote-number{
  padding: 2px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.comment-options-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
