.comment-box {
  display: flex;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  border: 1px solid #bbbbbb;
  background-color: #dddddd;
}
.comment-box-author {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-weight: bold;
  font-style: italic;
}
.comment-vote-box {
  width: 30px;
}
.comment-text-box {
  position: relative;
  flex: 1 0 auto;
  margin-top: 10px;
  padding-left: 7px;
  padding-bottom: 10px;
}
.comment-vote {
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}
.comment-vote:hover {
  background-color: #bbbbbb;
}
.vote-number{
  padding: 2px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
