<ng-container *ngIf="singleComment">
  <div class="comment-box" [id]="singleComment?._id">
    <span class="remove-comment"
          (click)="removeComment(singleComment?._id)"><mat-icon>close</mat-icon>
    </span>
    <div class="comment-text-box">
      <p> {{ singleComment?.text }}</p>
    </div>

    <div class="comment-options-box">
      <div class="comment-vote-box">
        <div class="comment-vote" (click)="vote('up', userIntegrity, 'comment')">
          <mat-icon
            [ngClass]="userIntegrity.userId !== null &&
            voteInfo?.isUserVoted &&
            voteInfo?.type === 'up' ? 'is-voted' : ''"
          >thumb_up</mat-icon>
        </div>
        <div class="vote-number">{{ votesDiff }}</div>
        <div class="comment-vote" (click)="vote('down', userIntegrity, 'comment')">
          <mat-icon
            [ngClass]="userIntegrity.userId !== null &&
            voteInfo?.isUserVoted &&
            voteInfo?.type === 'down' ? 'is-voted' : ''"
          >thumb_down</mat-icon>
        </div>
      </div>

      <span class="comment-box-author">
        posted by: <a [routerLink]="'/user/profile/' + singleComment?.userData.userId">{{ singleComment?.userData.userName }}</a>
      </span>
    </div>
  </div>
</ng-container>
