<header>
  <mat-toolbar color="primary" class="space-between">
    <div class="logo">
      <a [routerLink]="'/posts'" class="logo-link">ErB</a>
    </div>
    <div class="search-block">

      <div class="relative search-form">
        <form novalidate [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <input
            matInput
            type="text"
            formControlName="searchItem"
            placeholder="Search"
          >
          <button class="search-icon" type="submit">
            <i class="material-icons">search</i>
          </button>
        </form>
      </div>

    </div>
    <div class="user-details">

      <a *ngIf="!userIsAuthenticated"
         mat-raised-button
         href="https://github.com/login/oauth/authorize?client_id={{ clientId }}"
         color="accent"> SignIn with Github </a>

      <ng-container *ngIf="userIsAuthenticated">
        <div class="profile-info">
          <a [routerLink]="'/user/profile/' + profile?._id" class="profile-info-main-link">

            <div class="profile-name">
              <span>{{ profile?.login}}</span>
            </div>
            <div class="profile-image">
              <img
              src="https://avatars0.githubusercontent.com/u/{{ profile?.githubId}}"
              alt="{{ profile?.login }}">
            </div>

          </a>

        </div><!--.profile-info-->

        <div class="notifications-box"
          (clickOutside)="hideDropdown()"
          appClickOutside>

          <div class="notifications-bell" (click)="toggleNotifications()">
            <span class="unread-notifications" *ngIf="unreadNotifications !== 0">{{ unreadNotifications }}</span>
            <mat-icon *ngIf="notificationsArr.length" title="notifications">notifications</mat-icon>
            <mat-icon *ngIf="!notificationsArr.length" title="notifications">notifications_none</mat-icon>
          </div>

          <div class="notifications-window"
               *ngIf="isOpen">
            <ng-container *ngIf="!notificationsArr.length">
              <h4 class="accent-color text-center no-notifications">No notifications</h4>
            </ng-container>
            <ng-container *ngIf="notificationsArr.length">
              <ul>
                <li *ngFor="let singeNote of notificationsArr">
                  <app-note [note]="singeNote"></app-note>
                </li>
              </ul>
            </ng-container>

          </div><!--.notifications-window-->
        </div><!--.notifications-box-->

        <div class="nav-box"
             (clickOutside)="hideNavigation()"
             appClickOutside>
          <div class="responsive-menu" (click)="toggleDropdown()">
            <mat-icon>menu</mat-icon>
          </div>
          <div class="responsive-menu-dropdown" *ngIf="isDropdownOpen">
            <ul>
              <li><a [routerLink]="'/user/profile/' + profile?._id">Profile</a></li>
              <li><a (click)="onLogout()">Log out</a></li>
            </ul>
          </div>
        </div>

        <a
           mat-raised-button
           (click)="onLogout()"
           color="accent"
           class="logout-desktop"
           title="Log Out"><mat-icon>power_off</mat-icon></a>
      </ng-container>


    </div>
  </mat-toolbar>
</header>

