.post-box-view{
  background-color: #ddd;
  padding: 15px;
}
.post-box-view img {
  display: block;
  width: 100%;
  border: 1px solid #333333;
}
input[type=file] {
  visibility: hidden;
}
.image-preview {
  height: 250px;
  width: 250px;
  margin: 10px auto;
}
.image-preview img {
  height: 100%;
}
