<h2 class="page-title">Edit post</h2>

<form novalidate [formGroup]="editPostForm" (ngSubmit)="onSubmit()">

  <section class="post-box-view mb-15">

    <mat-form-field>
      <input
        matInput
        type="text"
        name="title"
        formControlName="title"
        minlength="3"
        placeholder="Title">
      <mat-error>Please enter title</mat-error>
    </mat-form-field>

    <section>

      <angular-editor
        [config]="editorConfig"
        formControlName="content"></angular-editor>

      <mat-error
        *ngIf="!editPostForm.get('content').valid &&
      editPostForm.get('content').touched &&
      formSubmitAttempt">Please enter Content</mat-error>

    </section>

    <div class="text-right mt-4">
      <button
        mat-raised-button
        color="accent"
        type="button"
        (click)="filePicker.click()">Pick Image</button>
      <input type="file" class="tiny-element" #filePicker (change)="onImagePicked($event)">
      <div class="post-img-box"
           *ngIf="imagePreview !== '' && imagePreview !== null && editPostForm.get('image').valid">
        <img [src]="imagePreview" [alt]="'Post Image'">
        <span
          class="remove-image"
          (click)="removeImage()"
          title="Remove image"><i class="material-icons">delete</i></span>
      </div>
    </div>

    <mat-form-field>
      <input
        matInput
        type="text"
        name="tags"
        autocomplete="off"
        (keyup)="addTag($event)"
        placeholder="Tags (enter tag names separated by comma)">
      <span class="tag-limit" *ngIf="tagsAreNotAllowed">You are not allowed to add more tags </span>
    </mat-form-field>

    <div class="tag-list">
      <h5 class="tag-list-title">tags : </h5>
      <ng-container *ngFor="let tag of clonedTagsArray">
        <app-tag
          [singleTag]="tag"
          [removable]="true"
          (removeTagFromList)="onRemoveTagFromList($event)"
        ></app-tag>
      </ng-container>

    </div>

  </section>

  <input
    type="hidden"
    name="id"
    formControlName="id"
  >
  <div class="position-buttons">
    <button
      mat-raised-button
      class="erb-button-right"
      color="accent"
      type="submit">Save Changes </button>
  </div>

</form>
