<section class="post-box-view">

  <h5 class="sp mb-15">
    <span class="date"> Date {{post?.created.split(' ')[0]}} </span>

    <div class="post-aux">
      <span class="author">Author: {{ post?.author.name || userIntegrity?.userName }}</span>
      <div class="favourite" title="Subscribe to receive a notification when someone leaves a comment">
        <mat-icon *ngIf="favType" color="accent" (click)="favoritePost(post?._id, userIntegrity?.userId)">notification_important</mat-icon>
        <mat-icon *ngIf="!favType" (click)="favoritePost(post?._id, userIntegrity?.userId)">notification_important</mat-icon>
      </div>
    </div>

  </h5>

  <h2 class="post-title text-center">{{ post?.title }}</h2>

  <div class="post-content-box">
    <div class="post-img-box" *ngIf="post?.imagePath">
      <a [href]="post?.imagePath" target="_blank">
        <img [src]="post?.imagePath" [alt]="post?.title">
      </a>
    </div>

    <div class="post-content" [innerHTML]="post?.content"></div>
  </div>

  <div class="post-options-box">

    <div class="post-vote-box">
      <div class="post-vote" (click)="vote('up', userIntegrity, 'post')">
        <mat-icon
          class="vote-arrow"
          [ngClass]="userIntegrity !== null &&
            voteInfo?.isUserVoted &&
            voteInfo?.type === 'up' ? 'is-voted' : ''">thumb_up</mat-icon>
      </div>
      <div class="vote-number">{{ votesDiff }}</div>
      <div class="post-vote" (click)="vote('down', userIntegrity, 'post')">
        <mat-icon
          class="vote-arrow"
          [ngClass]="userIntegrity !== null &&
            voteInfo?.isUserVoted &&
            voteInfo?.type === 'down' ? 'is-voted' : ''">thumb_down</mat-icon>
      </div>
    </div>


    <div class="tag-list pl-2">
      <h5 class="tag-list-title d-inline-block">tags: </h5>
      <ng-container *ngFor="let tag of clonedTagsArray">
        <app-tag
          [singleTag]="tag"
          [removable]="false"></app-tag>
      </ng-container>
    </div>

  </div>
  <div class="text-right" *ngIf="userIsAuthenticated && userIntegrity.userId === post?.author?._id">
    <a [routerLink]="'/edit/' + post?._id" mat-button color="primary" title="Edit"><i class="material-icons">edit</i></a>
    <a (click)="deletePost(post?._id)" mat-button color="accent" title="Delete"><i class="material-icons">close</i></a>
  </div>

</section>
<section class="comment-box-list">
  <ng-container *ngFor="let comment of commentsArray;">
    <app-comment-box
      [singleComment]="comment">
    </app-comment-box>
  </ng-container>

</section>
<app-comment
  [postInfo]="postInfo"
  [userData]="userIntegrity"
  (sendComment)="onPostComment($event)"></app-comment>


