<section class="post-box-view">

  <h5 class="sp mb-15">
    <span class="date"> Date {{post?.created.split(' ')[0]}} </span>
    <span class="author">Author: {{ post?.author.name }}</span>
  </h5>

  <h2 class="post-title text-center">{{ post?.title }}</h2>

  <div class="post-content-box">
    <div class="post-img-box" *ngIf="post?.imagePath">
      <img [src]="post?.imagePath" alt="{{ post?.title }}">
    </div>

    <div class="post-content">{{ post?.content }}</div>

  </div><!--.post-content-box-->


  <div class="post-vote-box d-inline-block v-align-middle">
    <div class="post-vote" (click)="vote('up')">
      <mat-icon>keyboard_arrow_up</mat-icon>
    </div>
    <div class="post-vote" (click)="vote('down')">
      <mat-icon>keyboard_arrow_down</mat-icon>
    </div>
  </div>

  <div class="tag-list d-inline-block v-align-middle pl-2">
    <h5 class="tag-list-title d-inline-block">tags</h5>
    <app-tag [tagsArray]="post?.tags" [removable]="false"></app-tag>
  </div>

</section>
<section class="comment-box-list">

  <app-comment-box [commentsArray]="commentsArray"></app-comment-box>

</section>
<app-comment [postInfo]="postInfo" (sendComment)="onPostComment($event)"></app-comment>

