<section class="post-box-view">

  <h5 class="sp mb-15">
    <span class="date"> Date {{post?.created.split(' ')[0]}} </span>
    <span class="author">Author: {{ post?.author.name }}</span>
  </h5>

  <h2 class="post-title text-center">{{ post?.title }}</h2>
  <p class="post-content">{{ post?.content }}</p>
  <div class="post-img-box">
    <img [src]="post?.imagePath" alt="{{ post?.title }}">
  </div>

  <div class="tag-list">
    <h5 class="tag-list-title">tags</h5>
    <app-tag [tagsArray]="post?.tags" [removable]="false"></app-tag>
  </div>

</section>
<section class="comment-box-list">

  <app-comment-box [commentsArray]="commentsArray"></app-comment-box>

  <!--<div class="comment-box" *ngIf="comment !== undefined">-->
    <!--<p> {{ comment?.text }} </p>-->
    <!--<h6 class="comment-box-author">-->
      <!--<a [routerLink]="'/user/profile/' + singleComment?.userId._id">posted by: {{ singleComment?.userId.login }}</a>-->
    <!--</h6>-->
  <!--</div>-->

</section>
<app-comment [postInfo]="postInfo" (sendComment)="onPostComment($event)"></app-comment>

