.post-box-view{
  background-color: #ddd;
  padding: 15px;
}
.post-box-view img {
  display: block;
  width: 100%;
  border: 1px solid #333333;
}
.post-img-box {
  height: 200px;
}
.post-img-box img {
  height: 100%;
}
