
<mat-card class="filter-sidebar">

  <mat-card-content>

    <div class="tag-list" *ngIf="tagsArray?.length > 0">

      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Tags</mat-card-title>
      </mat-card-header>

      <ng-container *ngFor="let tag of tagsArray | slice:0:show; let i=index">
        <app-tag
          [singleTag]="tag"
          [removable]="false"
          (addTagToList)="onAddTagToList($event)"
        ></app-tag>

        <ng-container *ngIf="show - i === 1 && tagsArray.length > show">
          <a mat-button class="show-more-button" (click)="show = tagsArray.length">
            <span class="show-more-button">Show all</span>
            <mat-icon class="sort-arrow">keyboard_arrow_down</mat-icon>
          </a>
        </ng-container>

      </ng-container>
      <ng-container *ngIf="show == tagsArray.length && show > 5">
        <a mat-button
           class="show-more-button"
           (click)="show = 5">
          <span class="show-more-button">Show less</span>
          <mat-icon class="sort-arrow">keyboard_arrow_up</mat-icon>
        </a>
      </ng-container>

    </div>
    <mat-card-subtitle *ngIf="!tagsArray?.length">No tags to display </mat-card-subtitle>

    <mat-list class="sort-items">
      <mat-list-item>
        <span (click)="sortPostsByDate()" class="sort-item-title">
          <span class="sort-text">Sort by date</span>
          <mat-icon class="sort-arrow" *ngIf="dateSort === 1">keyboard_arrow_up</mat-icon>
          <mat-icon class="sort-arrow" *ngIf="dateSort === -1">keyboard_arrow_down</mat-icon>
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span (click)="sortPostsByViews()" class="sort-item-title">
          <span class="sort-text">Sort by views</span>
          <mat-icon class="sort-arrow" *ngIf="viewSort === 1">keyboard_arrow_up</mat-icon>
          <mat-icon class="sort-arrow" *ngIf="viewSort === -1">keyboard_arrow_down</mat-icon>
        </span>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <span (click)="sortPostsByCommentCount()" class="sort-item-title">
          <span class="sort-text">Sort by Comments</span>
          <mat-icon class="sort-arrow" *ngIf="commentSort === 1">keyboard_arrow_up</mat-icon>
          <mat-icon class="sort-arrow" *ngIf="commentSort === -1">keyboard_arrow_down</mat-icon>
        </span>
      </mat-list-item>
    </mat-list>

  </mat-card-content>
</mat-card>



