<section class="user-info-list">
  <mat-card class="user-info-box" *ngFor="let user of users;">
    <div class="user-info-image">
      <a [routerLink]="user?._id">
        <img
          src="https://avatars0.githubusercontent.com/u/{{ user?.githubId}}"
          alt="{{ user?.login }}">
      </a>
    </div>
    <div class="user-info-text">
      <a class="user-info-name"
         [routerLink]="'/user/profile/' + user?._id">{{ user?.name ? user?.name : user?.login }}</a>
      <h4 class="user-info-sub-text">{{user?.location ? user?.location : 'N/A'}}</h4>
      <h4 class="user-info-sub-text">{{user?.bio ? user?.bio : 'N/A'}}</h4>
    </div>

  </mat-card>
</section>
