.note-link {
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;
  color: #212121;
  font-size: 10px;
  line-height: 11px;
  padding: 8px 10px 7px 10px;
  border-bottom: 1px solid #DDDFE2;
}

.note-link.not-checked {
  background-color: #E5EAF2;
}
.note-link:hover,
.note-link.not-checked:hover {
  background-color: #dddddd;
}
.note-link h5 {
  font-size: 12px;
  line-height: 13px;
  margin-top: 3px;
  margin-bottom: 3px;
}
.note-link .note-date {
  position: absolute;
  top: 5px;
  right: 7px;
  font-size: 11px;
}
.note-type {
  display: block;
  text-transform: capitalize;
}
