<h2>Create post</h2>

<br>
<form novalidate [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      type="text"
      name="title"
      formControlName="title"
      ngModel
      required
      minlength="3"
      placeholder="title">
    <mat-error>Please enter title</mat-error>
  </mat-form-field>
  <mat-form-field>
          <textarea
            matInput
            cols="30" rows="10"
            name="content"
            formControlName="content"
            required
            placeholder="content"></textarea>
    <mat-error>Please enter Content</mat-error>
  </mat-form-field>

  <section>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="tags"
        autocomplete="off"
        (keyup)="addTag($event)"
        placeholder="tags">
    </mat-form-field>

  </section>

  <section class="tag-list">
    <app-tag
      [tagName]="tag"
      (filteredTags)="onRemoveTags($event)"></app-tag>
  </section>

  <button
    mat-raised-button
    color="accent"
    type="submit">Save Post</button>
</form>
