<h2 class="page-title">Create post</h2>

<form novalidate [formGroup]="createPostForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input
      matInput
      type="text"
      name="title"
      formControlName="title"
      minlength="3"
      placeholder="title">
    <mat-error
      *ngIf="!createPostForm.get('title').valid &&
      createPostForm.get('title').touched &&
      formSubmitAttempt">Please enter title</mat-error>
  </mat-form-field>
  <mat-form-field>
          <textarea
            matInput
            cols="30" rows="10"
            class="post-content-textarea"
            name="content"
            formControlName="content"
            placeholder="content"></textarea>
    <mat-error
      *ngIf="!createPostForm.get('content').valid &&
      createPostForm.get('content').touched &&
      formSubmitAttempt">Please enter Content</mat-error>
  </mat-form-field>

  <section>
    <div>
      <button
        mat-stroked-button
        type="button"
        (click)="filePicker.click()">Upload Image</button>
      <input type="file"
             #filePicker
             accept=".jpg,.jpe,.jpeg,.png"
             (change)="onImagePicked($event)">
    </div>
    <div>
      <div class="post-img-box"
           *ngIf="imagePreview !== '' && imagePreview !== null && createPostForm.get('image').valid">
        <img [src]="imagePreview" [alt]="'Post image'">
        <span
          class="remove-image"
          (click)="removeImage()"
          title="Remove image"><i class="material-icons">delete</i></span>
      </div>
    </div>
  </section>

  <section>
    <mat-form-field>
      <input
        matInput
        type="text"
        name="tags"
        autocomplete="off"
        (keyup)="addTag($event)"
        placeholder="tags">
    </mat-form-field>

  </section>

  <section class="tag-list">
    <app-tag
      [tagsArray]="clonedTagsArray"
      [removable]="true"
      (filteredTags)="onRemoveTags($event)"></app-tag>
  </section>

  <button
    mat-raised-button
    color="accent"
    type="submit">Save Post</button>
</form>
