<div  class="post-box">

  <h5 class="sp mb-7">
    <span class="date">Date {{singlePost.created.split(' ')[0]}} </span>
    <span class="author">Author: {{ singlePost?.author.name }}</span>
  </h5>
  <h3 class="post-title">
    <a [routerLink]="'/view/' + singlePost?.id">{{ singlePost?.title }}</a>
  </h3>
  <p class="post-content overflow-ellipsis" [innerHTML]="singlePost?.content"></p>
  <div class="tag-list" *ngIf="singlePost.tags?.length > 0">
    <h3 class="tag-list-title d-inline-block">Tags</h3>
    <ng-container *ngFor="let tag of singlePost.tags">
      <app-tag
        [singleTag]="tag"
        [removable]="false"></app-tag>
    </ng-container>

  </div>

  <div class="post-options">

    <div class="wrap-post-info-box">
      <app-post-info
        [numberOfVotes]="votes"
        [numberOfComments]="singlePost?.commented"
        [numberOfViews]="singlePost?.viewed"
      ></app-post-info>
    </div>

    <div class="post-edit-box" *ngIf="userIsAuthenticated && userIntegrity.currentUserId === singlePost.author?._id">
      <a [routerLink]="'/edit/' + singlePost.id" mat-button color="primary" title="Edit"><i class="material-icons">edit</i></a>
      <a (click)="deletePost(singlePost.id)" mat-button color="accent" title="Delete"><i class="material-icons">close</i></a>
    </div>

  </div><!--.post-options-->

</div>
