/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.layout {
  min-height: calc(100vh - 52px);
}
.main-container{
  display: flex;
  justify-content: space-between;
}
.right-sidebar,
.left-sidebar {
  width: 20%;
}
.content {
  width: 50%;
}
.mb-15 {
  margin-bottom: 15px;
}
mat-form-field,
textarea{
  width: 100%;
}
.pl-15{
  padding-left: 15px;
}
.pr-15{
  padding-right: 15px;
}
.px-15{
  padding-left: 15px;
  padding-right: 15px;
}
.p-15{
  padding: 15px;
}

.space-between{
  justify-content: space-between;
}
.fill-space {
  flex: 1 1 auto;
}
.sandwich .sandwich-bar {
  display: block;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin-bottom: 3px;
}
.post-title {
  color: #07C;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 10px;
}
.post-content{
  color: #333333;
  font-style: italic;
  margin-bottom: 10px;
}
.tag-list {
  margin-top: 5px;
  margin-bottom: 5px;
}
.tag-list-title {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 3px;
}
.tag-list .tag:not(:first-child) {
  margin-left: 7px;
}

footer {
  height: 50px;
  background-color: #ddd;
  border-top: 1px solid #bbb;
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-xl-left {
  text-align: left;
}

.text-xl-right {
  text-align: right;
}

@media screen and (min-width: 1200px) {
  .text-lg-left {
    text-align: left;
  }
  .text-lg-right {
    text-align: right;
  }

}

@media screen and (min-width: 992px) {
  .text-md-left {
    text-align: left;
  }
  .text-md-right {
    text-align: right;
  }
}

@media screen and (min-width: 768px) {
  .text-sm-left {
    text-align: left;
  }
  .text-sm-right {
    text-align: right;
  }
}

@media screen and (min-width: 576px) {

}
